.slider .thumb{
-fx-background.radius: 20;
-fx-pref-width: 18;
-fx-pref-height: 18;
-fx-background-color: #ff6600;
}

.slider. track{
-fx-background-color: #444444;
-fx-pref-height: 6;
-fx-background-radius: 10;
}