.root {
-fx-background-color: #121212;
-fx-font-family: "Segoe UI"}

.slider .track{
-fx-background-color:#2a2a2a;
-fx-pref-width:6;
-fx-background-radius:3;
}

slider.thumb{
-fx-background-color: linear-gradient(#666, #222);
-fx-pref-width:16;
-fx-pref-height:16;
-fx-background-radius:50%;
-fx-effect: dropshadow(gaussian, black, 6, 0.4, 0, 1);
}